
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Base de Datos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Crear Nueva Base de Datos</h1>
        <form action="/databases/create" method="POST">
            <input type="text" name="dbName" placeholder="Nombre de la Nueva Base De Datos">
            <button type="submit">Crear Base de Datos</button>
        </form>
    </div>
</body>
</html>
